@page "/model"
@using Budjoni.DAL
@using Budjoni.DAL.Models
@inject ApplicationDbContext Db 

<h4>Modeli buđonija <button>
    <NavLink class="nav-link" href="model/create">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </NavLink>
</button></h4>
    
    

@if (modeliObuce == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelObuce in modeliObuce)
            {
                <tr>
                    <td>@modelObuce.NazivModela</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ModelObuce> modeliObuce;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            modeliObuce = Db.ModeliObuce.ToList();
        });
    }

}
